* {
  margin:0;
  padding:0;
}

body {
  font-size:1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
  background: lightblue;
  width: 80%;
  margin: auto;
  padding:10px; /*create space around container*/
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 a {
  text-decoration: none; /*remove underline from title*/
}

header h1 a:visited {
  color:black;
}

/* styles header nav inline right */
.main_links {
  display:flex;
  flex-direction: row;
  align-items: center;
}

/* spaces li elements */
.main_links li {
  margin-left: 20px;
}

header h1 {
  font-size:3em;
}

nav li,
main article li {
  list-style:none;
}

main article img {
  width:200px;
}
.article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.article-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Joy's CSS Changes From Here */

/* Joy's CSS Changes To Here */

.all-footer {
  display: flex;
  justify-content: space-evenly;
}

.list-1, .footer_links {
  list-style-type:none;
}

footer {
border-top: 1px black solid;
padding: 2px;
margin-top: 2px;
margin-bottom: 2px;

}

.foot-left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer_links {
text-align: center;
} 


/* media query for mobile */

@media(max-width: 768px) {
  header {
    flex-direction:column;
  }
}

/* end media query */
