* {
  margin:0;
  padding:0;
}

body {
  font-size:1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
  background: lightblue;
  width: 80%;
  margin: auto;
  padding:10px; /*create space inside container*/
}

header {
  display: flex;
  justify-content: space-between; /*push children far left and right*/
}

header h1 a {
  text-decoration: none; /*remove underline from title*/
}

header h1 a:visited {
  color:black;
}

/* styles header nav inline right */
.main_links {
  display:flex;
  flex-direction: row;
  align-items: center;
}

/* spaces the nav links */
.main_links li {
  padding-left: 20px;
}

/* will smith */
header h1 {
  margin-bottom: 10px;
  font-size:3em;
}

nav li,
main article li {
  list-style:none;
}

/* padding below h2 */
main article {
  padding: 20px 0;
}

main article img {
  width: 400px;
  border-radius:5px;
  margin-bottom: 10px;
}

/* main article ul */
.article-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* main article ul li */
.article-section {
  margin-top:20px;
  background: white;
  border-radius:5px;
  flex-basis:33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-section ul {
  padding: 6px;
}

/* Joy's CSS Changes From Here */

.willsmithimage { /* Make image a bigger size than the default */
  width: 349px;
}

.articleonsumpage { /* Create a flexbox item on the main items on the page */
  display: flex;
}

.articleonsumpage div { /* Center the Div */
  margin:  auto;
  text-align: center; /* Center everything inside the Divs */
}

/* Joy's CSS Changes To Here */

.all-footer {
  display: flex;
  justify-content: space-evenly;
}

.list-1, .footer_links {
  list-style-type:none;
}

footer {
border-top: 1px black solid;
padding: 2px;
margin-top: 2px;
margin-bottom: 2px;

}

.foot-left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer_links {
text-align: center;
} 


/* media query for mobile */

@media(max-width: 768px) {
  /* header breaks to column layout and centers */
  header {
    flex-direction:column;
    text-align:center;
  }

  main h2,
  article > p {
    text-align:center;
  }

  .main_links {
    justify-content: center;
    padding-bottom:20px;
  }
}

/* end media query */
