* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
  background: lightblue;
  width: 80%;
  margin: auto;
  padding:10px; /*create space inside container*/
}

header {
  display: flex;
  justify-content: space-between; /*push children far left and right*/
}

header h1 a {
  text-decoration: none; /*remove underline from title*/
}

header h1 a:visited {
  color: black;
}

h2, h3 {
  text-align: center;
  margin: 45px;
}

/* styles header nav inline right */
.main_links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* spaces the nav links */
.main_links li {
  padding-left: 20px;
}

/* will smith */
header h1 {
  margin-bottom: 10px;
  font-size:3em;
}

nav li,
main article li {
  list-style: none;
}

/* padding below h2 */
main article {
  padding: 20px 0;
}

main article img {
  width: 400px;
  border-radius:5px;
  margin-bottom: 10px;
}

main > p,
main article > p {
  text-align:center;
} 

/* main article ul */
.article-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

/* main article ul li */
.article-section {
  margin-top:20px;
  background: white;
  border-radius:5px;
  flex-basis:33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-section ul {
  padding: 6px;
}

/* Joy's CSS Changes From Here */

.willsmithimage { /* Make image a bigger size than the default */
  width: 349px;
}

.articleonsumpage { /* Create a flexbox item on the main items on the page */
  display: flex;
}

.articleonsumpage div { /* Center the Div */
  margin:  auto;
  text-align: center; /* Center everything inside the Divs */
}

/* Joy's CSS Changes To Here */

.all-footer {
  display: flex;
  justify-content: space-evenly;
}

.list-1,
.footer_links {
  list-style-type: none;
}

footer {
  border-top: 1px black solid;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.foot-left {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer_links {
  text-align: center;
}

/* media query for mobile */

@media(max-width: 768px) {
  /* header breaks to column layout and centers */
  header {
    flex-direction:column;
    text-align:center;
  }

  main h2,
  article > p {
    text-align:center;
  }

  .main_links {
    justify-content: center;
    padding-bottom:20px;
  }
}

.film-containers {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
  justify-content: space-around;
  margin-bottom: 70px;
  margin-top: 10px;
}

.film > div {
  margin-right: 20px;
  text-align: center;
  margin-top: 15px;
}
.careerH1 {
  margin-top: 45px;
  text-align: center;
}

.careerH1 ~ article > p {
  margin-top: 45px;
  margin-bottom: 70px;
  text-align: center;
  font-style: italic;
}




.skills ~ ul {
  display: flex;
  flex-flow: row wrap;
}
.skills ~ ul > li {
  flex: 1 0 30%;
  text-align: center;
  margin-bottom: 10px;
}

.skills {
  margin-bottom: 45px;
  text-align: center;
}

.filmHeader {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
}

.residenceHeader {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 70px;
}

.residence-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.past-container {
  text-align: center;
}

.current-container {
  text-align: center;
}

.collab-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.collab-header {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.awards-container {
  text-align: center;
  margin-top: 75px;
}

.nominated-container {
  margin-top: 30px;
  margin-bottom: 40px;
}

.won-container {
  margin-bottom: 60px;
}







/* end media query */
