
/* Creates reverse row flexbox for every odd gif and caption combo */
.intro {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

figure {
  display: flex;
  flex-direction: column;
  padding: 25px;
  flex-basis: 25;
  align-items: center;

}
/* Centers Header */
.header {
    text-align: center;
}

/* Padding created to space out pics */
.fam-pic > li {
    padding-bottom: 50px;
}

.immediate {
    padding-bottom: 25px;

}
/* 
div > img {
    max-height: auto;
    width: auto;
    
} */

main article img.dh {
    height: 200px;
    width: 150px;
}

.family {
    display: flex;
    flex-direction: row;

}

h2, h3 {
    text-align: center;
    margin: 45px;
}

.bel-air {
    text-align: center;
}
